<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{{- if eq .Title "" }}
<title>{{ .Site.Title }}</title>
{{- else }}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{- end }}
{{- if ne .Description "" }}
<meta name="description" content="{{ .Description }}">
{{- else if isset .Site.Params "description" }}
<meta name="description" content="{{ .Site.Params.description }}">
{{- end }}
{{ hugo.Generator }}
<link href="{{ .Site.BaseURL }}/index.xml" rel="alternate" type="application/rss+xml">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="stylesheet" href="{{"css/theme.min.css" | absURL}}">

{{ $script := resources.Get "fontawesome/js/all.js" | minify | fingerprint }}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" type="text/javascript">

{{ partial "meta/chroma.html" . -}}

{{ $script := resources.Get "js/jquery-3.6.0.js" | minify | fingerprint }}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" type="text/javascript">

{{ $script := resources.Get "js/jquery.easing.js" | minify | fingerprint }}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" type="text/javascript">

{{ $script := resources.Get "js/clipboard.js" | minify | fingerprint }}
<script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" type="text/javascript">

<script src="{{ "js/bundle.js" | absURL }}"></script>
{{- partial "meta/google-analytics-async.html" . -}}
{{- partial "meta/tag-manager.html" . -}}
{{- partial "meta/google-site-verification.html" . -}}
{{- partial "custom-css.html" . -}}
{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}
{{- template "_internal/schema.html" . -}}
