<table class="library">
  <tr>
    <th>Designator</th>
    <th>Component Type</th>
  </tr>
<tr><td>A</td><td>Sub-assembly or plug-in module</tr>
<tr><td>AE</td><td>Antenna</tr>
<tr><td>BT</td><td>Battery</tr>
<tr><td>C</td><td>Capacitor</tr>
<tr><td>D</td><td>Diode</tr>
<tr><td>DS</td><td>Display</tr>
<tr><td>F</td><td>Fuse</tr>
<tr><td>FB</td><td>Ferrite bead</tr>
<tr><td>FD</td><td>Fiducial</tr>
<tr><td>FL</td><td>Filter</tr>
<tr><td>H</td><td>Hardware (mounting screws, etc)</tr>
<tr><td>J</td><td>Jack, fixed part of a connector pair</tr>
<tr><td>JP</td><td>Jumper / link</tr>
<tr><td>K</td><td>Relay</tr>
<tr><td>L</td><td>Inductor, coil, ferrite bead</tr>
<tr><td>LS</td><td>Loudspeaker or buzzer</tr>
<tr><td>M</td><td>Motor</tr>
<tr><td>MK</td><td>Microphone</tr>
<tr><td>P</td><td>Plug, movable part of a connector pair</tr>
<tr><td>Q</td><td>Transistor</tr>
<tr><td>R</td><td>Resistor</tr>
<tr><td>RN</td><td>Resistor network</tr>
<tr><td>RT</td><td>Thermistor</tr>
<tr><td>RV</td><td>Varistor</tr>
<tr><td>SW</td><td>Switch</tr>
<tr><td>T</td><td>Transformer</tr>
<tr><td>TC</td><td>Thermocouple</tr>
<tr><td>TP</td><td>Test point</tr>
<tr><td>U</td><td>Integrated circuit (IC)</tr>
<tr><td>Y</td><td>Crystal / oscillator</tr>
<tr><td>Z</td><td>Zener diode</tr>
</table>